* {
  font-family: "Maple Mono", monospace;
  font-size: 13px;
  color: #ffffff;
}

#clock,
#network,
#pulseaudio,
#workspaces {
  padding: 0 10px;
}

#waybar {
  background-color: transparent;
  border: none;

  margin: 0px;
  font-weight: 500;
}

#waybar * {
  margin: 0;
  padding: 0;
}

#workspaces button {
  padding: 0 6px;
}

#memory,
#workspaces,
#cpu {
  background-color: #1a1b26;
  padding: 0.3rem 0.7rem;
  margin: 5px 0px;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  margin-right: 6px;
  min-width: 0;
  border: none;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

#workspaces {
  padding: 2px;
  margin-left: 7px;
  margin-right: 5px;
}

#memory:hover,
#cpu:hover {
  background-color: rgb(41, 42, 53);
}

#workspaces button {
  color: #babbf1;
  border-radius: 5px;
  padding: 0.3rem 0.6rem;
  background: transparent;
  transition: all 0.2s ease-in-out;
  border: none;
  outline: none;
}

#workspaces button.active {
  color: #99d1db;
  background-color: rgba(153, 209, 219, 0.1);
  box-shadow: inset 0 0 0 1px rgba(153, 209, 219, 0.2);
}

#workspaces button:hover {
  background: rgb(41, 42, 53);
  color: #c6d0f5;
}

#clock {
  background-color: #1a1b26;
  padding: 0.3rem 0.7rem;
  margin: 5px 0px;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(153, 209, 219, 0.2);
  min-width: 0;
  border: none;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

#clock:hover {
  background-color: rgba(153, 209, 219, 0.1);
}


#pulseaudio,
#network {
  background-color: #1a1b26;
  padding: 0.3rem 0.7rem;
  margin: 5px 0px;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  min-width: 0;
  border: none;
  color: #c6d0f5;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  margin-right: 6px;
}

#pulseaudio:hover,
#backlight:hover,
#network:hover {
  background-color: rgb(41, 42, 53);
}

#workspaces,
#memory,
#network,
#pulseaudio,
#cpu,
#tray,
#clock {
  color: #99d1db;
  font-weight: 500;
}

#tray {
  background-color: #1a1b26;
  padding: 0.3rem 0.7rem;
  margin: 5px 0px;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  min-width: 0;
  border: none;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  color: #c6d0f5;
  margin-right: 6px;
}

#tray:hover {
  background-color: rgb(41, 42, 53);
}

#tray menu {
  background-color: #1a1b26;
  color: #99d1db;
  font-size: 11px;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #4c566a;
}

#tray menu menuitem {
  padding: 6px 11px;
  margin: 2px 0;
}

#tray menu menuitem:hover {
  background-color: #99d1db;
  color: #88c0d0;
}

tooltip {
  background-color: #1a1b26;
  color: #dddddd;
  padding: 5px 12px;
  margin: 5px 0px;
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  font-size: 12px;
}